<div id="<%= dom_id article %>">
  <p>
    <strong>Name:</strong>
    <%= article.name %>
  </p>

  <p>
    <strong>Price local:</strong>
    <%= article.price_local %>
  </p>

  <p>
    <strong>Price export:</strong>
    <%= article.price_export %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= article.category_id %>
  </p>

</div>
